.home-wrapper {
    padding-bottom: 2rem;
}

.main-content {
    display: flex;
    gap: 5px; 
}


/* Aside sticky: fijo con más espacio lateral */
.sticky-side {
    position: sticky;
    top: 25px;
    align-self: flex-start;
    padding-right: 0px;
}

.custom-calendar .react-calendar {
    border-radius: 12px;
    overflow: hidden; 
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}


/* Separación entre cards */
.event-column .evento-card {
    margin-bottom: 1.5rem;
}


.custom-calendar .react-calendar {
    width: 100%;
    max-width: 350px;
    background: #f8f9fa; 
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border: none;
    font-family: 'Trebuchet MS', sans-serif;
    user-select: none;
}

.custom-calendar .react-calendar__navigation {
    background-color: dodgerblue;
    color: white;
    border-radius: 15px 15px 0 0;
    padding: 0.5rem 0;
    font-weight: 600;
    font-size: 1.1rem;
}

.custom-calendar .react-calendar__month-view__days__day {
    padding: 0.75rem 0;
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.custom-calendar .react-calendar__month-view__weekdays {
    color: dodgerblue;
}

.custom-calendar .react-calendar__month-view__weekdays__weekday {
    flex: 1;
    text-align: center;
}

.custom-calendar .react-calendar__tile--now {
    background: #cce5ff;
    border-radius: 10px;
    font-weight: 700;
}

.custom-calendar .react-calendar__tile--active {
    background: #007bff;
    color: white;
    border-radius: 10px;
}

.custom-calendar .react-calendar__tile:hover {
    background-color: #e2e6ea;
    border-radius: 10px;
}